<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
 <%= current_user.full_name%>

<%= 'kdjdklsfjkdfjkfdhjkdfnjknklvnvkl dfjkljbkln ,klfjfklklbm lv;kvl;jdfbklnjdvb jfldjklbklvmc lbjlkbcvm kjfdkljklj vmklvcndhiljl; kljklcjvcj lxcvjlvjxl;vxc cxvl;vl;cvxj ;lvl;xjxcv' %>
